.collapses-legement{
    @extend %dfsb;
    @media screen and (max-width: 768px){        
        display: flex;
        flex-direction: column;
        gap: 18px;         
    }
    .button-text-collapse{
        width: 45%;
        border-radius: 5px;
        
        @media screen and (max-width: 768px){
            width: 100%;
        }
        .button-icon{
           @extend %dfsb;
            align-items: center;
            color: $white;
            background-color: $color-pricipal;
            height: 35px;
            border-radius: 5px;
            padding-left: 8px;
        }
        .text-collapse{
            padding: 1rem;
            background-color: $grey-leight;
            border-radius: 5px;
         }  
    }

}